extends layout

block content
	if !user
		div(class='hero-unit')
			h1 Welcom to miniTwitter
			p miniTwitter is a Node.js based micro blog system
			p
				a(class='btn btn-primary btn-large', href='/login') Log in
				a(class='btn btn-large', href='/reg') Register
	else
		include say
	include posts