extends layout

block content
	if !user
		div(class='jumbotron')
			h1 Welcom to miniTwitter
			p miniTwitter is built by NodeJS, mongoDB and deployed on AWS EC2 instance.
			p This website will be updated frequently since I'm keeping adding features to it and changing UI.
			p
				a(class='btn btn-primary btn-large', href='/login') Log in
				a(class='btn btn-large', href='/reg') Register
	else
		div(class= 'container-fluid')
			div(class= 'row')			
				div(class='col-sm-3 col-md-2 sidebar')
					ul(class= 'nav nav-sidebar')
						li
							div(class= 'well well-sm')
								div(class='media')
									div(class='col-sm-offset-1 col-md-10')
										a(class= 'thumbnail pull-left', href='#')
											img(class= 'media-object', src='http://en.opensuse.org/images/0/0b/Icon-user.png')
								div(class='media body')
									div(class='col-sm-offset-3 col-md-10')
										h2(class='media-heading')= user.name
									div(class='col-sm-offset-1 col-md-10')
										a(href='#') 
											<span class="label label-success">10 Followes</span>
										a(href='#') 
											<span class="label label-info">10 Followings</span>
										a(href='#') 
											<span class="label label-warning">10 Tweets</span>
						li
							a(href='#') To be added
						li
							a(href='#') To be added
						li
							a(href='#') To be added
						li
							a(href='#') To be added
				div(class= 'col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main')
					include say
					include posts