doctype html
html
	head
		title= title
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class='navbar navbar-fixed-top navbar-inverse',role='navigation')
			div(class='container')
				div(class='navbar-header')
					button(type='button',class='navbar-toggle',data-toggle='collapse',data-target='.nav-collapse')
						span(class='sr-only') Toggle navigation
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')
					a(class='navbar-brand', href='/') miniTwitter
				div(class='collapse navbar-collapse')
					ul(class='nav navbar-nav')
						li(class='')
							a(href='/') Main Page
						if !user
							li(class='')
								a(href='/login') Log In
							li(class='')
								a(href='/reg') Register
						else
							li(class='')
								a(href='/logout') Log out
					if user
						ul(class='nav navbar-nav navbar-right')
							li
								a(href='/u/' + user.name)= user.name
		div(id='container', class='container')
			if success
				div(class='alert alert-success')
					p= success
			if error
				div(class='alert alert-danger')
					p= error
			
			block content
			hr/
			footer(class='footer')
				p created by  Tao Lei
				div(class='container')
					div(class='row')
						div(class='span2')
							a(class="btn btn-social-icon btn-facebook",href='https://www.facebook.com/UPennTao',target= '_blank')
								i(class="fa fa-facebook")
							a(class="btn btn-social-icon btn-linkedin",href='https://www.linkedin.com/pub/tao-lei/41/1b8/984',target= '_blank')
								i(class="fa fa-linkedin")
							a(class="btn btn-social-icon btn-github",href='https://github.com/PennTao',target= '_blank')
								i(class="fa fa-github")
	script(src='/javascripts/jquery-2.1.0.js')
	script(src='/javascripts/bootstrap.js')
	script(src='/javascripts/global.js')
