form(method='post',action='/post',class='well form-inline center',style='text-aligh:center;')
	input(type='text', class='span8',name='post',maxlength='140')
	button(type='submit', class='btn btn-success') Post