form(method='post',action='/post',class='form',role='form')
	div(class='form-group')
		div(class='col-xs-9')
			input(type='text', class='form-control',name='post',maxlength='140')
	button(type='submit', class='btn btn-success') Post