extends layout

block content
	div(class= 'container-fluid')
			div(class= 'row')
				div(class='col-sm-3 col-md-2 sidebar')
					div(class='nav-sidebar')
							div(class= 'well well-sm')
								div(class='media')
									div(class='col-sm-offset-1 col-md-10')
										a(class= 'thumbnail', href='#')
											img(class= 'media-object', src='http://en.opensuse.org/images/0/0b/Icon-user.png')
										h2(class='media-heading') #{title}											
					ul(class= 'nav nav-pills nav-sidebar')
						li
							span(class='label label-success') Followes
							a(href='#') 10 
						li
							span(class='label label-primary') Followings
							a(href='#') 10 
						li
							span(class='label label-danger') Tweets
							a(href='#') #{postCount}

				div(class= 'col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main')
					if user
						include say
						include loggedinposts
					else
						include posts
					
					div(class='col-sm-offset-8 col-md-offset-3')
						ul(class='pagination')
							- if(curPage>1){
									li
										a(href='/u/'+ title + '/page/' + (curPage-1)) &laquo;
							- }
							li
								a(href='/u/'+ title + '/page/1') First
							- for (var i=1;i<=pageCount;i++){
							-	if(Math.abs(i-curPage)<=2){		
							-		if(i == curPage){		
										li(class='active')
											a(href='/u/'+ title + '/page/'+i)= i
							-		}else{
										li
											a(href='/u/'+ title + '/page/'+i)= i							
							-		}
							-	}
							-}
							li
								a(href='/u/'+ title + '/page/' + pageCount) Last
							- if(curPage<pageCount){
									li
										a(href='/u/'+ title + '/page/' + (parseInt(curPage) + 1)) &raquo;
							- }